body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #1a1a1a, #000);
}

.container {
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  padding: 40px;
  background-color: rgba(26, 26, 26, 0.9); /* Slightly transparent background */
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center child elements horizontally */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #FFB81C; /* Honey Yellow */
  border-bottom: 3px solid #FFB81C;
  padding-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: center;
}

.form-control {
  width: 100%;
  max-width: 90%; /* Limit the width */
  background-color: #333;
  border: 2px solid #FFB81C; /* Honey Yellow */
  border-radius: 5px;
  color: #f1f1f1;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 20px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control::placeholder {
  color: #888;
}

.form-control:focus {
  border-color: #FFD466; /* Lighter Honey Yellow */
  box-shadow: 0 0 10px #FFB81C; /* Honey Yellow glow */
}

textarea.form-control {
  resize: none;
  height: 150px;
}

.btn-primary {
  background-color: #FFB81C; /* Honey Yellow */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  width: 50%;
}

.btn-primary:hover {
  background-color: #FFD466; /* Lighter Honey Yellow */
  transform: scale(1.05);
}

.response-box {
  width: 100%;
  max-width: 90%;
  background-color: rgba(51, 51, 51, 0.9);
  border: 2px solid #FFB81C; /* Honey Yellow */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.response-box h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #FFB81C; /* Honey Yellow */
  border-bottom: 2px solid #FFB81C;
  padding-bottom: 5px;
}

.response-box p {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
  text-align: center;
}

/* Hide the response boxes if they are empty */
.response-box p:empty {
  display: none;
}
